/*
 * Copyright (c) 2020 MightyRaven
 */

/*
 * Couleur de fond
 */
 .bg-red {
	background-color: #F44336;
}
.bg-green {
	background-color: #4CAF50;
}
.bg-green-a700 {
	background-color: #00C853;
}
.bg-green-50 {
    background-color: #E8F5E9;
}

.bg-grey {
	background-color: #9E9E9E;
}
.bg-pink {
	background-color: #E91E63;
}
.bg-deep-orange {
	background-color: #FF5722;
}
.bg-deep-orange-50 {
	background-color: #FBE9E7;
}
.bg-orange-200 {
	background-color: #FFCC80; !important;
}

.bgIndigo {
	background-color: #3F51B5;
}
.bg-blue {
	background-color: #2196F3;
}
.bg-ligth-blue-200 {
	background: linear-gradient(to right, #673AB7, #03A9F4)
}
.bg-blue-900 {
	background-color: #0D47A1;
}
.bg-grey-50 {
	background-color: #FAFAFA;
}
.bg-blue-grey-50 {
	background-color: #ECEFF1;
}


/*
 * Couleur des polices
 */
.text-white {
	color: white;
}
.font-noir {
	color: #000000;
}
.text-orange {
	color: #FF9800;
}
.text-deep-orange {
	color: #FF5722;
}
.font-brown {
	color: #795548;
}
.font-indigo {
	color: #3F51B5;
}
.fontPink {
	color: #E91E63;
}
.text-blue-grey {
	color: #607D8B;
}
.text-blue-grey-800 {
	color: #37474F;
}
.text-blue-grey-400 {
	color: #78909C;
}
.text-grey-100 {
	color: #F5F5F5;
}
.text-grey-600 {
	color: #757575;
}
.font-bold {
	font-weight: bold;
}


/*
 * Largeurs et Hauteurs
 */
.width-32 {
	width: 32px;
}
.width50 {
	width: 50px;
}
.width60 {
	width: 60px;
}
.width70 {
	width: 70px;
}

/* Taille des polices */
.font-small {
	font-size: small;
}
.font-medium {
	font-size: medium;
}
.font-large {
	font-size: large;
}
.font-xlarge {
	font-size: x-large;
}
.font-xxlarge {
	font-size: xx-large;
}
.font-10 {
	font-size: 10px;
}
.font-11 {
	font-size: 11px;
}
.font-12 {
	font-size: 12px;
}
.font-13 {
	font-size: 13px;
}
.font-14 {
	font-size: 14px;
}
.font-16 {
	font-size: 16px;
}
.font-18 {
	font-size: 18px;
}
.font-20 {
	font-size: 20px;
}
.font-40 {
	font-size: 40px;
}

/* Alignement */
.pvmilieu {
	margin-top: 50vh; transform: translateY(-50%);
}


/* Hauteurs */
.h100vh {
	min-height: 100vh;
}
.h90vh {
	min-height: 90vh;
}
.h60vh {
	min-height: 60vh;
}
.h40vh {
	min-height: 40vh;
}
.h20vh {
	min-height: 20vh;
}
.h15vh {
	min-height: 15vh;
}
.h10vh {
	min-height: 10vh;
}
.h9vh {
	min-height: 9vh;
}

.h100p {
	height: 100%;
}


/* Margins */
.mt5 {
	margin-top: 5px;
}
.m-t-10 {
	margin-top: 10px;
}
.m-t-15 {
	margin-top: 15px;
}
.m-t-30 {
	margin-top: 30px;
}
.m-t-50 {
	margin-top: 50px;
}
/*Bottom*/
.mb5 {
	margin-bottom: 5px;
}
.m-b-10 {
	margin-bottom: 10px;
}
.m-b-25 {
	margin-bottom: 25px;
}

.mg5{
	margin-left: 5px;
}
.m-l-10{
	margin-left: 10px;
}

.md5{
	margin-right: 5px;
}
.m-r-10{
	margin-right: 10px;
}
.md20{
	margin-right: 20px;
}
.md40{
	margin-right: 40px;
}

.m-10 {
	margin: 10px;
}

/* Padding */
.p-10 {
	padding: 10px;
}


/* DÃ©coration */
.souligner { text-decoration: underline; }


/* Pointeurs */
.pointeur-main {
	cursor: pointer;
}

/* Bootstrap */
.trBleu {
	background-color: #2196F3;
	color: #FFFFFF;
}
.tdWidth50 {
	width: 50px;
}

.label-green {
	background-color: #C8E6C9;
	color: #2E7D32;
}
.label-green-1 {
	background-color: #C8E6C9;
	color: #2E7D32;
	padding: 2px;
	font-size: 13px;
	border-radius: 1px;
}

.label-red {
	background-color: #ffcdd2;
	color: #c62828;
}
.label-red-1 {
	background-color: #ffcdd2;
	color: #c62828;
	padding: 2px;
	font-size: 13px;
	border-radius: 1px;
}
.label-red-2 {
	background-color: #FFC7C7;
	color: #FF0000;
	font-size: 10px;
	padding-left: 2px;
	padding-right: 2px;
	font-weight: bold;
}

.label-warning-2 {
	background-color: #FFECB3;
	color: #FF6F00;
	font-size: 10px;
	padding-left: 2px;
	padding-right: 2px;
	font-weight: bold;
}

.label-blue-2 {
	background-color: #C7EBFF;
	color: #2196F3;
	font-size: 10px;
	padding-left: 2px;
	padding-right: 2px;
	font-weight: bold;
}

.label-grey-2 {
	background-color: #F5F5F5;
	color: #9E9E9E;
	font-size: 10px;
	padding-left: 2px;
	padding-right: 2px;
	font-weight: bold;
}

/* :: Bordure :: */
.border-bottom-grey-200 {
	border-bottom: 1px solid #EEEEEE;
}
.border-right-grey-200 {
	border-right: 1px solid #EEEEEE;
}
