/*
 *  Copyright (c) 2020 MightyRaven
 */

/* Police Font */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* Body*/
html {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FAFAFA;
    height: 100%;
}

#lsx-map {
    height: 100%;
}

#tracking-block {
    min-height: calc(100vh - 50px);
    height: calc(100% - 50px);
}

#div-tracking {
    height: 100%;
}

.dispositif {
    color: #FFF;
    margin-top: 2px;
    padding: 10px;
}

.img-dispositif {
    width: 70px;
    cursor: pointer;
    border-radius: 2px;
}

#showhist-map {
    height: 60vh;
}

#div-statistique {
    padding: 10px;
}

.stat-data-green {
    background-color: #2E7D32;
} .stat-data-green-libelle {
      color: #E8F5E9;
      padding: 10px;
  } .stat-data-green-data {
        font-weight: bold;
        color: #FFF;
        padding: 10px;
    }

.stat-data-blue {
    background-color: #2196F3;
} .stat-data-blue-libelle {
      color: #E3F2FD;
      padding: 10px;
  } .stat-data-blue-data {
        font-weight: bold;
        color: #FFF;
        padding: 10px;
    }

.stat-data-orange {
    background-color: #FF5722;
} .stat-data-orange-libelle {
      color: #FBE9E7;
      padding: 10px;
  } .stat-data-orange-data {
        font-weight: bold;
        color: #FFF;
        padding: 10px;
    }

#div-loading {
    display: block;
    margin: auto;
}

.geofence-grey {
    background-color: #ECEFF1;
    color: #263238;
    padding: 5px;
    margin-top: 10px;
    border: 1px #B0BEC5 solid;
    border-radius: 5px;
}

.geofence-blue {
    background-color: #B3E5FC;
    color: #0D47A1;
    padding: 5px;
    margin-top: 10px;
    border: 1px #4FC3F7 solid;
    border-radius: 5px;
}

.geofence-pink {
    background-color: #F8BBD0;
    color: #AD1457;
    padding: 5px;
    margin-top: 10px;
    border: 1px #F06292 solid;
    border-radius: 5px;
}

#div-online {
    color: #4CAF50;
    padding: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(76,175,80,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(76,175,80,1);
    box-shadow: 0px 0px 5px 0px rgba(76,175,80,1);
    margin-bottom: 20px;
}
#div-nointernet {
    color: #FF9800;
    padding: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(255,152,0,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(255,152,0,1);
    box-shadow: 0px 0px 5px 0px rgba(255,152,0,1);
    margin-bottom: 20px;
}
#div-offline {
    color: #FF0000;
    padding: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(244,67,54,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(244,67,54,1);
    box-shadow: 0px 0px 5px 0px rgba(244,67,54,1);
    margin-bottom: 20px;
}

/*Label des marqueurs*/
.marker-labels {
    color: black;
    background-color: white;
    font-size: 0.8em;
    font-weight: bold;
    text-align: center;
    width: 6em;
    border: 1px solid black;
    white-space: normal;
}


/*Tablette, ordinateur*/
@media screen and (min-width: 768px){
    /*#dispositif-block {
        overflow-y: scroll;
        height: 100%;
    }*/
    #div-dispositif-groupe {
        overflow-y: auto;
        height: calc(100vh - 110px);
        max-height: calc(100vh - 110px);
        width: 100%;
        padding: 10px;
    }
    #geofence-block {
        overflow-y: scroll;
        height: 100%;
    }
}


/*Smartphone*/
@media screen and (max-width: 767px) {
    #lsx-map {
        height: 500px;
    }
    /*#dispositif-block {
        overflow-y: unset;
    }*/
    #div-dispositif-groupe {
        overflow-y: unset;
    }
}


/* BOUTONS */
/* Boutons de la page fonctions*/
.btn-funct {
    padding: 15px;
    background-color: #BBDEFB;
    font-size: 20px;
    border: 1px #1565C0 solid;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
} .btn-funct:hover {
    text-decoration: none;
} .btn-funct img {
    width: 80px;
} .fonction-button-blue .part2 {
    font-weight: bold;
    color: #1565C0;
} .fonction-button-blue .part3 {
    color: #3F51B5;
    font-size: small;
}

/* ::: BOOTSTRAP ::: */
/* Close button of bootstrap */
.close:focus, .close:hover {
    outline: none;
}
/*.btn {
    border-radius: 0;
}*/

/*.form-control {
    border-radius: 0;
}*/

/*.dropdown-menu {
    border-radius: 0;
}*/
.form-control:focus {
    border-color: #607D8B;
    -webkit-box-shadow: 0 0 2px 0 rgba(96,125,139,0.75);
    -moz-box-shadow: 0 0 2px 0 rgba(96,125,139,0.75);
    box-shadow: 0 0 2px 0 rgba(96,125,139,0.75);
}


/* ::: INPUT ::: */
.input-effect :focus{
    outline: none;
}
.input-effect {
    float: left; margin: 0 3%; position: relative;
}
input[id="search-dispo"] {
    font: 14px/24px "'Roboto Condensed'", sans-serif; color: #333; width: 100%; box-sizing: border-box;
}
.search-dispo {
    border: 0; padding: 4px 0; border-bottom: 1px solid #78909C; background-color: transparent;
}
.search-dispo ~ .focus-border{position: absolute; bottom: 0; left: 0; width: 0; height: 2px; background-color: #03A9F4; transition: 0.4s;}
.search-dispo ~ .focus-border,
.has-content.search-dispo ~ .focus-border{width: 100%; transition: 0.4s;}
/*.search-dispo ~ label{position: absolute; left: 0; width: 100%; top: 9px; color: #aaa; transition: 0.3s; z-index: -1;}*/
/*.search-dispo ~ label, .has-content.search-dispo ~ label{top: -10px; font-size: 12px; color: #03A9F4; transition: 0.3s;}*/


/* :: DROPDOWN :: */
.dropdown-item {
    font-size: small;
}

.badge {
    border-radius: 0;
}

/* ::: MODAL ::: */
.modal-content {
    -webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 3px 0 rgba(0,0,0,0.75);
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.75);
}
.modal {
    background-color: rgba(245,245,245 ,0.5);
}

/*ScrollBar*/
/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #BDBDBD;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #9E9E9E;
}

/* ::: NAVBAR ::: */
@media (min-width: 992px) {
    .navbar {
        height:50px !important;
    }
}
.navbar {
    min-height: 50px;
}

/* ::: NAVS ::: */
.nav-link {
    color: #607D8B;
}
/*.nav a {
    background-color: transparent;
    color: #37474F;
}
.nav a.active {
    background-color: #BBDEFB;
    color: #0D47A1;
}*/
